Acme-YAPC-Asia-2012-LTthon-Hakushu-*
.*
!.gitignore
!.shipit
!.dim.pl
inc/
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
META.*
MYMETA.*
*.out
*.bak
*.old
*~
*.swp
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
